<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


 <!-- Servlets -->
 <!--  TODO: Ausformulieren der Servlets -->
 
  <servlet>
    <servlet-name>contactSystemServlet</servlet-name>
    <servlet-class>de.hdm.kontaktsystem.server.ContactSystemAdministrationImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>bankVerwaltungServlet</servlet-name>
    <url-pattern>/bankprojekt_2_0/bankadministration</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>reportGeneratorServlet</servlet-name>
    <servlet-class>de.hdm.kontaktsystem.server.report.ReportGeneratorImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>reportGeneratorServlet</servlet-name>
    <url-pattern>/bankprojekt_2_0/reportgenerator</url-pattern>
  </servlet-mapping> 
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ContactSystem.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
  
</web-app>