<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">


<!-- Servlets -->

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ContactSystem.html</welcome-file>
    <welcome-file>ReportGenerator.html</welcome-file>
  </welcome-file-list>
  
<!-- Servlets für den Editor-->  
  
  <servlet>
    <servlet-name>EditorService</servlet-name>
    <servlet-class>de.hdm.kontaktsystem.server.ContactSystemAdministrationImpl</servlet-class>   
  </servlet>

  <servlet-mapping>
    <servlet-name>EditorService</servlet-name>
    <url-pattern>/kontaktsystem/editor</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>EditorService</servlet-name>
    <url-pattern>/reportgenerator/editor</url-pattern>
  </servlet-mapping>
  
  <!-- Servlets für den ReportGenerator-->  
  <servlet>
    <servlet-name>Report</servlet-name>
    <servlet-class>de.hdm.kontaktsystem.server.report.ReportGeneratorImpl</servlet-class>  
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/reportgenerator/reportgenerator</url-pattern>
  </servlet-mapping>
  
  
</web-app>