<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<!-- Servlets -->

 <!--  TODO: Ausformulieren der Servlets muss noch erledigt werden -->

 
  <servlet>
    <servlet-name>contactSystemServlet</servlet-name>
    <servlet-class>de.hdm.kontaktsystem.server.ContactSystemAdministrationImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name><!-- Servletname --></servlet-name>
    <url-pattern><!--/ContactSystem/administration--></url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>reportGeneratorServlet</servlet-name>
    <servlet-class><!-- Servlet Klassenpfad --></servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>reportGeneratorServlet</servlet-name>
    <url-pattern><!--/ContactSystem/reportgenerator--></url-pattern>
  </servlet-mapping> 
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Editor.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class><!-- Servlet Klassenpfad --></servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
  
</web-app>